@import url('../components/header.scss');
@import url('../components/navBar.scss');
@import url('../components/filter.scss');
@import url('../components/content.scss');
.app{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    overflow: auto;
    background-color: var(--color-primary);
    .app-buttons{
        width: 400px;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
            width: 100px;
            height: 30px;
            border: 1px solid transparent;
            background-color: var(--color-secondary);
            cursor: pointer;
            border-radius: 5px;
            transition: all 0.2s;
            &:hover{
                
                border: 1px solid var(--color-secondary);
                background-color: transparent;
            }
        }
    }
}
